<%= tag.div id: dom_id(attempt), class: attempt.correct? ? 'bg-green-500' : '' do %>
  <p class="my-5 ">
    <strong class="block font-medium mb-1">Wordle:</strong>
    <%= attempt.wordle_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Answer:</strong>
    <%= attempt.answer %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Correct Letters</strong>
    <%= attempt.correct_letters %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Correct Positions</strong>
    <%= attempt.correct_positions %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this attempt", [attempt.wordle, attempt], class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this attempt", edit_wordle_attempt_path(attempt.wordle, attempt), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
<% end %>
